@import '~@fontsource/roboto/300.css';
@import '~@fontsource/roboto/400.css';
@import '~@fontsource/roboto/500.css';
@import '~@fontsource/roboto/700.css';
body {
  width: 450px;
  margin: 0;
  overflow: hidden;
  max-height: 600px;
}

#app {
  overflow: hidden;
  max-height: 600px;
}
